@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2E90FA;
    height: 5px;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@layer base {
  
:root  {
  --background: 0 0% 100%;
  --foreground: 211 5% 0%;
  --card: 211 50% 90%;
  --card-foreground: 211 5% 10%;
  --popover: 211 100% 95%;
  --popover-foreground: 211 100% 0%;
  --primary: 211 95.3% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 211 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 211 95.3% 70%;
  --muted-foreground: 211 5% 35%;
  --accent: 173 30% 80%;
  --accent-foreground: 211 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 211 5% 90%;
  --border: 211 30% 50%;
  --input: 211 30% 18%;
  --ring: 211 95.3% 58%;
  --radius: 0.5rem;
}
.dark  {
  --background: 211 50% 5%;
  --foreground: 211 5% 90%;
  --card: 211 50% 0%;
  --card-foreground: 211 5% 90%;
  --popover: 211 50% 5%;
  --popover-foreground: 211 5% 90%;
  --primary: 211 95.3% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 211 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 173 30% 15%;
  --muted-foreground: 211 5% 60%;
  --accent: 173 30% 15%;
  --accent-foreground: 211 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 211 5% 90%;
  --border: 211 30% 18%;
  --input: 211 30% 18%;
  --ring: 211 95.3% 58%;
  --radius: 0.5rem;
}

}
@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}